{% extends 'base.html.twig' %}

{% trans_default_domain 'form' %}

{% block body %}
    <div class="form__page">
        <div class="form__gratitude">
            <h1 class="text-center">{% trans %}form.account.thankyou{% endtrans %}</h1>
        </div>
    </div>
{% endblock %}